<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-2">
<meta name="description" content="">
<meta name="author" content="www.perpetuum.hr">
<title>Klik 4</title>
<link rel="stylesheet" href="css/klik4.css" />
<link rel="stylesheet" href="css/fancybox.css" />
<link rel="stylesheet" href="css/overcast/jquery-ui-1.8.18.custom.css" />	
<script src="js/modernizr-1.5.min.js"></script>
</head>
<body>

<script id="tmpl-promotional-product" type="text/x-jquery-tmpl">
	<li id="promotional-product-${id}">
		<figure>
			<a title="${title}" href="product#${id}"><img src="content/images/products/${thumbnail}" width="152" height="104" alt="${title}"/></a>
			<figcaption>
				<span class="product-discount">${discount}</span>
				<span class="product-title">${title}</span>
				<span class="product-price">${price}</span>
			</figcaption>
		</figure>
	</li>
</script>

<script id="tmpl-navigation-product" type="text/x-jquery-tmpl">
	<figure>
		<a title="${title}" href="product#${id}"><img src="content/images/products/${thumbnail}" width="65" height="65" alt="${title}"/></a>
		<figcaption>
			<span class="product-title">${title}</span>
			<span class="product-price">{{html price}}</span>
			<span class="product-discount">${description}</span>
		</figcaption>
	</figure>
</script>

<script id="tmpl-promo-product-simple" type="text/x-jquery-tmpl">
	{{each(i, product) products}}
		{{if (i == 0) || (i % 6 == 0)}}
		<li>
			<ul>
		{{/if}}
				<li><a title="${product.title}" href="product#${product.id}">${product.title}</a></li>
		{{if (i == 5) || ((5 - (i % 6)) == 0)}}
			</ul>
		</li>
		{{/if}}
	{{/each}}
</script>

<script id="tmpl-promo-category-simple" type="text/x-jquery-tmpl">
	<li><a title="${title}" href="category#${id}">${title}</a>
		{{if categories.length > 0}}
		<ul>
		{{each(i, subcategory) categories}}
			<li><a title="${subcategory.title}" href="category#${subcategory.id}" {{if i == categories.length-1}}class="link-more"{{/if}}>${subcategory.title}</a>
		{{/each}}
		</ul>
		{{/if}}
	</li>
</script>

<header id="page-header"> 
	<div class="page-header-content">
		<a href="http://www.klik4.hr" title="Klik4" id="logo"><img src="images/klik4_logo.png" alt="Klik4 logo"></a>
		<div id="search-form">
			<form id="search-form-mini" action="#" method="get">
			    <input id="search" type="text" name="search" value="Traži na klik4" class="search-field" /><button type="submit" title="Search" class="button">Search</button>
			</form>
		</div>
		<div class="header-additional-links">
			<ul>
				<li class="first"><a href="#" title="Sign In">Sign In</a></li>
				<li><a href="#" title="My Account">My Account</a></li>
			</ul>
			<ul>
				<li><a href="#" title="Sign in">Catalog Request</a></li>
				<li><a href="#" title="Live Chat">Live Chat</a></li>
				<li>800 544 0127</li>
			</ul>
		</div>
		<div class="header-shopping-links">
			<ul>
				<li><a href="#" title="Cart">Cart (1)</a></li>
				<li><a href="#" title="Quote">Quote (0)</a></li>
				<li><a href="#" title="Quote">Compare (0)</a></li>
			</ul>
		</div>
	</div>	
</header>
<div class="page-content-wrapper">
	<section id="page-content">
		<nav id="page-nav">
			<ul class="clearfix">
				<li id="nav-item-products">Proizvodi
					<div id="nav-products">
						<ul class="nav-categories-title clearfix">
							<li class="categories-title">Category</li>
							<li class="subcategories-title">Subcategory</li>
							<li class="products-title">Hot In Category</li>
						</ul> 		 
						<ul class="nav-categories" id="nav-categories">
							<li class="current-category"><a href="#">Kategorija prve razine 1</a>
								<ul class="nav-categories-level-2">
									<li><a href="#">Kategorija druge razine 1</a></li>
									<li><a href="#">Kategorija druge razine 2</a></li>
									<li><a href="#">Kategorija druge razine 3</a></li>
									<li><a href="#">Kategorija druge razine 4</a></li>
									<li><a href="#">Kategorija druge razine 5</a></li>
									<li><a href="#">Kategorija druge razine 6</a></li>
									<li><a href="#">Kategorija druge razine 7</a></li>
									<li><a href="#">Kategorija druge razine 8</a></li>
									<li><a href="#">Kategorija druge razine 9</a></li>
									<li><a href="#">Kategorija druge razine 10</a></li>
									<li><a href="#">Kategorija druge razine 11</a></li>
									<li><a href="#">Kategorija druge razine 12</a></li>
									<li><a href="#">Kategorija druge razine 13</a></li>
									<li><a href="#">Kategorija druge razine 14</a></li>
									<li><a href="#">Kategorija druge razine 15</a></li>
									<li><a href="#">Kategorija druge razine 16</a></li>
									<li><a href="#">Kategorija druge razine 17</a></li>
									<li><a href="#">Kategorija druge razine 18</a></li>
								</ul>
							</li>
							<li><a href="#">Kategorija prve razine 2</a>
								<ul class="nav-categories-level-2">
									<li><a href="#">Kategorija druge razine 1</a></li>
									<li><a href="#">Kategorija druge razine 2</a></li>
									<li><a href="#">Kategorija druge razine 3</a></li>
									<li><a href="#">Kategorija druge razine 4</a></li>
									<li><a href="#">Kategorija druge razine 5</a></li>
									<li><a href="#">Kategorija druge razine 6</a></li>
									<li><a href="#">Kategorija druge razine 14</a></li>
									<li><a href="#">Kategorija druge razine 15</a></li>
									<li><a href="#">Kategorija druge razine 16</a></li>
									<li><a href="#">Kategorija druge razine 17</a></li>
									<li><a href="#">Kategorija druge razine 18</a></li>
								</ul>
							</li>
							<li><a href="#">Kategorija prve razine 3</a></li>
							<li><a href="#">Kategorija prve razine 4</a></li>
							<li><a href="#">Kategorija prve razine 5</a></li>
							<li><a href="#">Kategorija prve razine 6</a></li>
							<li><a href="#">Kategorija prve razine 7</a></li>
							<li><a href="#">Kategorija prve razine 8</a></li>
							<li><a href="#">Kategorija prve razine 9</a></li>
							<li><a href="#">Kategorija prve razine 10</a></li>
							<li><a href="#">Kategorija prve razine 11</a></li>
							<li><a href="#">Kategorija prve razine 12</a></li>
							<li><a href="#">Kategorija prve razine 13</a></li>
							<li><a href="#">Kategorija prve razine 12</a></li>
							<li><a href="#">Kategorija prve razine 13</a></li>
						</ul>
						<div id="nav-category-products"></div>
					</div>
				</li>
				<li>Akcija 		 
					<ul class="nav-level-2">
						<li><a href="#">Proizvod 2</a></li>
						<li><a href="#">Proizvod 3</a></li>
						<li><a href="#">Proizvod 4</a></li>
						<li><a href="#">Proizvod 5</a></li>
					</ul>
				</li>
				<li>Brandovi 		 
					<ul class="nav-level-2">
						<li><a href="#">Proizvod 1</a></li>
						<li><a href="#">Proizvod 2</a></li>
						<li><a href="#">Proizvod 3</a></li>
						<li><a href="#">Proizvod 4</a></li>
					</ul>
				</li>
				<li>Brand maker 		 
					<ul class="nav-level-2">
						<li><a href="#">Proizvod 1</a></li>
						<li><a href="#">Proizvod 2</a></li>
						<li><a href="#">Proizvod 3</a></li>
						<li><a href="#">Proizvod 4</a></li>
					</ul>
				</li>
				<li>Saznaj više 		 
					<ul class="nav-level-2">
						<li><a href="#">Proizvod 1</a></li>
						<li><a href="#">Proizvod 2</a></li>
						<li><a href="#">Proizvod 3</a></li>
						<li><a href="#">Proizvod 4</a></li>
					</ul>
				</li>
				<li class="last">Podrška 		 
					<ul class="nav-level-2">
						<li><a href="#">Proizvod 1</a></li>
						<li><a href="#">Proizvod 2</a></li>
						<li><a href="#">Proizvod 3</a></li>
						<li><a href="#">Proizvod 4</a></li>
					</ul>
				</li>			
			</ul>
		</nav>
		<section id="breadcrumbs">
			<ul>
				<li class="home"><a href="#">Početna stranica</a></li>
				<li><a href="#">Satovi</a></li>
				<li>Ručni sat</li>
			</ul>
		</section>
		<section id="related-products">
			<header>Related Items</header>
			<ul id="related-products-list"></ul>
		</section>
		<section id="product-content" class="clearfix">
			<section class="product-image">
				<figure>
					<!--
					<figcaption><a href="#">Customize</a></figcaption>
					-->
					<img id="product-image" src="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" alt="Ručni sat" title="Ručni sat" />
				</figure>
				<footer>
					<section id="product-image-colors" class="clearfix">
						<header>Pick Color</header>
						<ul>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" data-productcolor="red"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" width="50"/></a></li>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/3/p3_thumb_152x104.jpg" data-productcolor="green"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/3/p3_thumb_152x104.jpg" width="50"/></a></li>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/2/p2_thumb_152x104.jpg" data-productcolor="blue"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/2/p2_thumb_152x104.jpg" width="50"/></a></li>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" data-productcolor="pink"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" width="50"/></a></li>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" data-productcolor="red"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" width="50"/></a></li>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/3/p3_thumb_152x104.jpg" data-productcolor="green"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/3/p3_thumb_152x104.jpg" width="50"/></a></li>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/2/p2_thumb_152x104.jpg" data-productcolor="blue"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/2/p2_thumb_152x104.jpg" width="50"/></a></li>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" data-productcolor="pink"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" width="50"/></a></li>
						</ul>
					</section>
					<section id="product-image-views" class="clearfix">
						<header>More views</header>
						<ul>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/1/p1_thumb_152x104.jpg" width="50"/></a></li>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/3/p3_thumb_152x104.jpg"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/3/p3_thumb_152x104.jpg" width="50"/></a></li>
						    <li><a href="http://www.nekra.net/klik4/media/catalog/product/cache/1/image/425x/9df78eab33525d08d6e5fb8d27136e95/p/2/p2_thumb_152x104.jpg"><img src="http://www.nekra.net/klik4/media/catalog/product/cache/1/thumbnail/50x/9df78eab33525d08d6e5fb8d27136e95/p/2/p2_thumb_152x104.jpg" width="50"/></a></li>
						</ul>
					</section>
				</footer>
			</section>
			<section class="product-main-data">
				<header>
					<h2>Ručni sat s narukvicom od nikla</h2>
					<p class="product-id">ITEM: 2393</p>
					<p class="product-sku">Sku: 123456789</p>
				</header>
				<section class="price-box-detailed">
					<table>
						<tr>
							<td>QTY</td>
							<td>50</td>
							<td>100</td>
							<td>150</td>
							<td>200</td>
						</tr>
						<tr>
							<th>Price</th>
							<th>1200Kn</th>
							<th>1800Kn</th>
							<th>5000Kn</th>
							<th>12000Kn</th>
						</tr>
					</table>
				</section>
				<div class="product-actions-wrapper">
					<section class="product-configurator">
						<div class="product-configurator-divider"></div>
						<div class="configurator-decoration clearfix">
							<label for="mnu-product-decoration">Decoration</label>
							<select id="mnu-product-decoration">
								<option value="13351">No decoration</option>
								<option value="13351">Embroidery</option>
								<option value="14450">Screen Print - 1 Color </option>
								<option value="23245">Screen Print - 1 Color 2 Location </option>
								<option value="14453">Screen Print - 2 Color </option>
								<option value="14451">Screen Print - 3 Color </option>
								<option value="14456">Screen Print - 4 Color </option>
							</select>
						</div>
						<div class="configurator-color clearfix">
							<label for="mnu-product-color">Color</label>
							<select id="mnu-product-color">
								<option value="white">White</option>
								<option value="red">Red</option>
								<option value="green">Green</option>
								<option value="blue">Ocean Blue</option>
								<option value="pink">Dark Pink</option>
							</select>
						</div>
						<div class="configurator-quantity clearfix">
							<div class="configurator-quantity-field">
								<label for="txt-product-quantity">Quantity</label><button id="btn-product-quantity">Update</button><input type="text" id="txt-product-quantity">
							</div>
							<div class="configurator-quantity-slider clearfix">
								<div id="product-quantity-range"></div>
							</div>
						</div>
						<section class="configurator-calculator clearfix">
							<ul>
								<li>
									<span class="calc-item-wrapper" id="shipping-zip">
										<span class="calc-item-key">Zip Code</span>
										<div id="shipping-zip-field"><button id="btn-shipping-zip">Update</button><input type="text" id="txt-shipping-zip"></div>
									</span>
								</li>
								<li><span class="calc-item-wrapper"><span class="calc-item-key">Sub Total</span> <span class="calc-item-value">123Kn</span></span></li>
								<li><span class="calc-item-wrapper"><span class="calc-item-key">Decoration</span> <span class="calc-item-value">123Kn</span></span></li>
								<li><span class="calc-item-wrapper"><span class="calc-item-key">Setup</span> <span class="calc-item-value">14Kn</span></span></li>
								<li><span class="calc-item-wrapper"><span class="calc-item-key">Shipping</span> <span class="calc-item-value">14Kn</span></span></li>
								<li><span class="calc-item-wrapper calc-item-you-save"><span class="calc-item-key">You Save</span> <span class="calc-item-value">(100Kn)</span></span></li>
							</ul>
							<footer>
								<span class="calc-total-wrapper"><span class="calc-total-key">Total</span> <span class="calc-total-value">12.234,00 Kn</span><span class="calc-item-details">?</span></span>
								<div class="calc-item-details-content">
									<table>
										<thead>
											<tr>
												<th>Screen Print - 3 Color</th>
												<th class="cell-currency">100 Kn</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Blue</td>
												<td class="cell-currency">30 Kn</td>
											</tr>
											<tr>
												<td>Red</td>
												<td class="cell-currency">30 Kn</td>
											</tr>
											<tr>
												<td>Green</td>
												<td class="cell-currency">40 Kn</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td>Ukupno</td>
												<td class="cell-currency">200 Kn</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</footer>
						</section>
					</section>
					<section class="product-actions">
						<div class="product-actions-divider"></div>
						<label>Do you want?</label>
						<button id="btn-cart">Add to Cart</button>
						<label>or</label>
						<button id="btn-customize">Customize & Buy</button>
						<label>or</label>
						<button id="btn-quote" data-productid="21312342">Request a Quote</button>
						<!--
						<a href="#" id="btn-quote">Request a Quote</a>
						-->
						<footer>
							<a href="#" class="link-wishlist">Add to wishlist</a>
							<a href="#" class="link-compare">Add to compare</a>
							<label>Need more than 1000?</label>
							<a href="#" class="link-direct-quote">Get a factory direct quote</a>
						</footer>
					</section>
				</div>
			</section>
			<section class="product-additional-data">
				<ul id="product-additional-data-tabs">
					<li class="current"><a href="#tab1">General information</a></li>
					<li><a href="#tab2">Imprint information</a></li>
					<li><a href="#tab3">Production Schedule</a></li>
					<li><a href="#tab4">Pricing</a></li>
				</ul>
				<section id="tab1">
					<fieldset>
						<h3><span>Description</span></h3>
						<p>100% Peruvian Pima cotton women's polo shirt (gray heather is 90% cotton/10% polyester). Features a feminine fit, delicate Y-collar, two-button placket, Dura-Pearl (TM) buttons, and rib knit cuffs. Sizes other than those listed may be available; please call for details and pricing.</p>
					</fieldset>
					<fieldset>
						<h3><span>Additional Information</span></h3>
						<table>
							<tbody>
								<tr>
									<th>Standard Production Time</th>
									<td>10 days. (Rush production may be available.)</td>
								</tr>
								<tr>
									<th>Weight</th>
									<td>9 oz</td>
								</tr>
								<tr>
									<th>Brand</th>
									<td>Devon &amp; Jones</td>
								</tr>
								<tr>
									<th>Themes</th>
									<td>Religious &amp; Spiritual</td>
								</tr>
								<tr>
									<th>Manufacturer</th>
									<td>Broder Bros</span></td>
								</tr>
								<tr>
									<th>Manufacturer</th>
									<td>Embroidery USA</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
					<fieldset>
						<h3><span>Item Colors</span></h3>
						<p>*Stock item colors shown on website are for reference only and may not match actual item color. Please request a sample for exact colors.</p>
						<ul class="color-palete clearfix">
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
						</ul>
					</fieldset>
					<fieldset>
						<h3><span>Additional Colors</span></h3>
						<ul class="color-palete clearfix">
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
							<li title="Crvena"><span style="background-color: #ff0000"></span>Crvena</li>
						</ul>
					</fieldset>
				</section>
				<section id="tab2" style="display:none">
					<fieldset>
						<h3><span>Imprint Information</span></h3>
						<table>
							<tbody>
								<tr>
									<th>Imprint Method</th>
									<td>Embroidered (This is the default imprint method.  Other imprint methods may be available.  Please call for details.)</td>
								</tr>
								<tr>
									<th>Graphic Design</th>
									<td>There is no charge for art modifications and we offer FREE Virtual Proofs.  Our skilled graphic design team can help put the finishing touches on your logo or artwork no matter what type of image you send us!</td>
								</tr>
								<tr>
									<th>Sending Artwork</th>
									<td>Artwork can be uploaded during the last step of the checkout if buying or requesting a quote online.</td>
								</tr>
								<tr>
									<th>Prefered Image Formats</th>
									<td>.EPS, .AI, .CDR (Vector format with fonts converted to outlines or curves)</td>
								</tr>
								<tr>
									<th>Accepted Image Formats</th>
									<td>Any PC compatable file. Please to not send compressed Mac Files.</td>
								</tr>
								<tr>
									<th>Fonts</th>
									<td>We have many fonts installed in our system that we are able to use upon request. If a specific font is requested that we do not have on file please have a copy of the font requested emailed to our art department for use.</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</section>
				<section id="tab3" style="display:none">
					<fieldset>
						<h3><span>Shipping</span></h3>
						<p>Please note that rush processing and production applies only to the  manufacturing process; your items will ship using the lowest-cost ship method to ensure on-time delivery. If expedited or overnight delivery is required, we will notify you and adjust your order total accordingly.</p> 
					</fieldset>
					<fieldset>
						<h3><span>In-Hands Date</span></h3>
						<p>If you have an event or a firm deadline, you will have to specify an in-hands date. This will help us greatly in filling your order.</p>
					</fieldset>
				</section>
				<section id="tab4" style="display:none">
					<fieldset>
						<h3><span>Pricing</span></h3>
						<p>Pricing for minimal order quantity 50</p>
						<table class="product-pricing-table">
							<tbody>
								<tr>
									<th></th>
									<th>xs</th>
									<th>s</th>
									<th>m</th>
									<th>l</th>
									<th>xl</th>
									<th>xxl</th>
								</tr>
								<tr>
									<td class="pricing-color">
										<span style="background-color: #ffffff"></span>Bijela
									</td>
									<td>120Kn</td>
									<td>120Kn</td>
									<td>120Kn</td>
									<td></td>
									<td>120Kn</td>
									<td>120Kn</td>
								</tr>
								<tr>
									<td class="pricing-color">
										<span style="background-color: #ff0000"></span>Crvena
									</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
								</tr>
								<tr>
									<td class="pricing-color">
										<span style="background-color: #0000ff"></span>Plava
									</td>
									<td>1200Kn</td>
									<td></td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
								</tr>
								<tr>
									<td class="pricing-color">
										<span style="background-color: #00ff00"></span>Zelena
									</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
								</tr>
								<tr>
									<td class="pricing-color">
										<span style="background-color: #000000"></span>Crna
									</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td></td>
									<td></td>
									<td>1200Kn</td>
								</tr>
								<tr>
									<td class="pricing-color">
										<span style="background-color: #f0e209"></span>Žuta
									</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
								</tr>
								<tr>
									<td class="pricing-color">
										<span style="background-color: #e785eb"></span>Pink
									</td>
									<td>1200Kn</td>
									<td></td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
								</tr>
								<tr>
									<td class="pricing-color">
										<span style="background-color: #7e4f30"></span>Smeđa
									</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
									<td>1200Kn</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</section>
			</section>
			<section class="product-additional-stuff product-share">
				<h2>Share</h2>
				<ul>
					<li><a href="product_print.htm" class="share-print" id="print-product" target="_blank">Print</a></li>
					<li><a href="#" class="share-mail" target="_blank">Mail</a></li>
					<li><a href="#" class="share-facebook" target="_blank">Facebook</a></li>
					<li><a href="#" class="share-googleplus" target="_blank">Google+</a></li>
					<li><a href="#" class="share-twitter" target="_blank">Twitter</a></li>
				</ul>
			</section>
			<section class="product-additional-stuff">
				<h2>How to order?</h2>
				<ul>
					<li><a href="#">Customize & buy</a></li>
					<li><a href="#">Request a Quote</a></li>
				</ul>
				<h2>Samples</h2>
				<ul>
					<li><a href="#">Call for sample</a></li>
				</ul>
				<h2>Still Need help?</h2>
				<ul>
					<li><a href="#">Ask a Question</a></li>
					<li><a href="#">Live Chat</a></li>
				</ul>
			</section>
			<section class="product-additional-stuff">
				<h2>FAQ</h2>
				<ul>
					<li><a href="#">How to customize & buy?</a></li>
					<li><a href="#">How to request a Quote?</a></li>
					<li><a href="#">How to how?</a></li>
					<li><a href="#">How to something else?</a></li>
				</ul>
			</section>
		</section>
		<section id="recently-products">
			<header>Recently browsed</header>
			<ul id="recently-products-list"></ul>
		</section>
		<section id="about-and-compare" class="clearfix">
			<div class="content">
				<h2 class="clearfix">Zašto Klik 4</h2>
				<article>
					<p>Received the bags today. You are amazing. How tasteful I will be heartily endorsing "imagewar" from Inkhead when I have the opportunity. My daughter is a social media specialist so I'll get help from her on how to "broadcast" my appreciation.</p> 
					<p>Jeanne Hitchcock Surgical Society Staff 2010 Surgery Faculty Administrator At Hennepin County Medical Center Minneapolis, MN</p>
				</article>
				<ul class="clearfix">
					<li><a href="#" title="">Apparel</a></li>
					<li><a href="#" title="">T-shirts</a></li>
					<li><a href="#" title="">Hats &amp; visors</a></li>
					<li><a href="#" title="">Golf Shirts</a></li>
					<li><a href="#" title="">Dress Shirts</a></li>
					<li><a href="#" title="">Jackets</a></li>
					<li><a href="#" title="">Bottle Openers</a></li>
				</ul>
			</div>
			<div class="side-bar">
				<h2>Usporedi proizvode (4)</h2>
				<div class="products-compare-list">
					<ul>
						<li>
							<a class="remove-product" title="Remove This Item" href="#">Remove This Item</a>
							<a class="compare-product" href="#" title="partner 1"><img src="content/images/partner_link_1.png" alt="partner 1"> Product 1</a>
						</li>
						<li>
							<a class="remove-product" title="Remove This Item" href="#">Remove This Item</a>
							<a class="compare-product" href="#" title="partner 1"><img src="content/images/partner_link_1.png" alt="partner 1"> Product 1</a>
						</li>
						<li>
							<a class="remove-product" title="Remove This Item" href="#">Remove This Item</a>
							<a class="compare-product" href="#" title="partner 1"><img src="content/images/partner_link_1.png" alt="partner 1"> Product 1</a>
						</li>
						<li>
							<a class="remove-product" title="Remove This Item" href="#">Remove This Item</a>
							<a class="compare-product" href="#" title="partner 1"><img src="content/images/partner_link_1.png" alt="partner 1"> Product 1</a>
						</li>
					</ul>
				</div>
				<a href="#" class="products-clear-all">Clear all</a>
				<a href="#" class="products-compare-all">See all &gt;&gt;</a>
			</div>
		</section>
	</section>
</div>
<footer id="page-footer">
	<nav id="page-footer-nav" class="clearfix">
		<ul>
			<li>E-mail Exclusives
				<ul class="newsletter-signup">
					<li>Pretplati se i primaj specijalne ponude putem e-maila.</li>
					<li><a href="#" title="">Sign up &gt;</a></li>
				</ul>
			</li>
			<li>Shop
				<ul>
					<li><a href="#" title="">by Category</a></li>
					<li><a href="#" title="">by Brand</a></li>
					<li><a href="#" title="">by Manufacturer</a></li>
					<li><a href="#" title="">by Industry or Organization</a></li>
					<li><a href="#" title="">by Theme or Event</a></li>
					<li><a href="#" title="">Buying Guides</a></li>
					<li><a href="#" title="">Importing Large Quantitites</a></li>
					<li><a href="#" title="">Whole sale promo products</a></li>
				</ul>
			</li>
			<li>Subscribe
				<ul>
					<li><a href="#" title="">Site Feed</a></li>
					<li><a href="#" title="">Catalog Request</a></li>
					<li><a href="#" title="">E-mail Newsletter</a></li>
					<li><a href="#" title="">Blog</a></li>
				</ul>
			</li>
			<li>Support
				<ul>
					<li><a href="#" title="">Contact us</a></li>
					<li><a href="#" title="">Knowledge base</a></li>
					<li><a href="#" title="">Reseller Application</a></li>
					<li><a href="#" title="">Affiliate Application</a></li>
					<li><a href="#" title="">Privacy and security</a></li>
					<li><a href="#" title="">Terms of use</a></li>
					<li><a href="#" title="">International orders</a></li>
				</ul>
			</li>
			<li>Company
				<ul>
					<li><a href="#" title="">About us</a></li>
					<li><a href="#" title="">Donation</a></li>
					<li><a href="#" title="">Testimonials</a></li>
					<li><a href="#" title="">Clients</a></li>
					<li><a href="#" title="">press Releases</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<ul id="sponsors">
		<li><a href="#" title="BBB"><img src="content/images/sponsor_link.jpg" alt="Sponsor link"></a></li>
		<li><a href="#" title="BBB"><img src="content/images/sponsor_link.jpg" alt="Sponsor link"></a></li>
		<li><a href="#" title="BBB"><img src="content/images/sponsor_link.jpg" alt="Sponsor link"></a></li>
		<li><a href="#" title="BBB"><img src="content/images/sponsor_link.jpg" alt="Sponsor link"></a></li>
		<li><a href="#" title="BBB"><img src="content/images/sponsor_link.jpg" alt="Sponsor link"></a></li>
		<li><a href="#" title="BBB"><img src="content/images/sponsor_link.jpg" alt="Sponsor link"></a></li>
		<li><a href="#" title="BBB"><img src="content/images/sponsor_link.jpg" alt="Sponsor link"></a></li>
	</ul>
	<section id="basic-informations">
		<p>&copy;2011 KLIK 4, Inc. All Rights Reserved</p>
		<p><a href="http://www.klik4.com" title=""><img src="images/klik4_logo_midium.png" alt="Klik4 logo midium"></a></p>
		<p>KLIK 4 Promotional Products</p>
		<p>XXXXXXXXXXXXXX</p>
		<p>XXXXXXXXXXXXXX</p>
		<p>Croatia</p>
		<p>Phone: 800-554-0127</p>
		<p>Email: <a href="mailto:sales@klik4.com">sales@klik4.com</a></p>
	</section>
</footer>
<script src="js/jquery-1.7.1.min.js?v=1"></script>
<script src="js/jquery.tmpl.min.js?v=1"></script>
<script src="js/jquery.jcarousel.min.js?v=1"></script>
<script src="js/jquery.fancybox-1.3.4.min.js?v=1"></script>
<script src="js/jquery.mousewheel-3.0.4.min.js?v=1"></script>
<script src="js/jquery.jscrollpane.min.js?v=1"></script>
<script src="js/enzyme.jquery.slider-0.2.min.js?v=1"></script>
<script src="js/enzyme.forms.js?v=1"></script>
<script src="js/enzyme-0.1.min.js?v=1"></script>
<script src="js/perpetuum.jquery.ticker-2.0.js?v=1"></script>
<script src="js/jquery-ui-1.8.18.custom.min.js?v=1"></script>
<script src="js/klik4.js?v=1"></script>

<script type="text/javascript">
$(document).ready(function(){
	enzyme.page.init(klik4.product.firstStepInit);
});
</script>

</body>
</html>
